@charset "UTF-8";

nav{ padding:20px 0; font-size: 1.2em; }
nav img{ width: auto; max-width: 100%; }
nav a{ display: inline-block; vertical-align: middle; margin: 0 0 0 10px; padding:2px 20px; font-size: 12px; border-radius: 2px; background: #25b4f1; box-shadow: 0 0 3px rgba(0,0,0,0.3); }

#main nav{ color:#fff; }
#sub nav a{ color:#fff; }
