<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Air365 플랫폼 관리자</title>
<link rel="shortcut icon" href="/images/img/k_fav.ico"
	type="image/x-icon">
<link rel="stylesheet" href="/css/common2.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">
$().ready(function() {
	var message = [[${loginError}]];
	if 		(message == 1) alert("계정을 확인하세요.");
	else if (message == 2) alert("암호를 확인하세요.");
})
</script>
</head>
<body>
	<div id="login" class="container" layout:fragment="content">
		<div class="row">
			<div style="font-family: 'Noto Sans KR', sans-serif;">
				<div style="max-width:320px; margin: 0 auto; "><img src="/images/img/01_logo.png" style="max-width: 100%;"/></div>
				<h1 style="font-size: 40px;font-weight: 800;color: #3e3a39;">Air365 플랫폼 관리자</h1>
				<!--<span style="color: #8c9091;font-size: 20px;font-weight: 400;">Air365 platform Manager</span>-->
			</div>
		</div>

		<div class="row">
			<form th:action="@{/doLogin}" method="post">
				<div class="form-group form-custom">
					<select name="loginAuth" id="loginAuth">
						<option value="admin">관리자</option>
						<option value="member">개인</option>
						<option value="group">그룹</option>
					</select>
					<!-- <input type="hidden" id="loginAuth" name="loginAuth" value="admin"/>  -->
				</div>
				<div class="form-group form-custom">
					<input type="text" name="username" id="username"
						class="custom-input" value="" aria-describedby="emailHelp"
						placeholder=" 이메일" /> <span class="input-icon"><i
						class="fas fa-user"></i></span>
				</div>
				<div class="form-group form-custom">
					<input type="password" name="password" class="custom-input"
						id="password" value="" placeholder=" 비밀번호" /> <span
						class="input-icon"><i class="fas fa-lock"></i></span>
				</div>
				<button type="submit" class="submit common-btn">로그인</button>
			</form>
		</div>

		<div class="row"></div>
	</div>
</body>
</html>